<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Felix Onduru</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="name__card--container">
        <div class="name__card--photo-container">
            <div class="name__card--photo-line" id="name__card--left-line"></div>
            <div class="name__card--photo"></div>
            <div class="name__card--photo-line" id="name__card--right-line"></div>
        </div>
        <div class="name__card--name">
            FELIX ONDURU
        </div>
        <div class="name__card--title">
            DATA ANALYST
        </div>
        <div class="name__card--links">
            <a href="https://github.com/FelixOnduru1" target="_blank">
                <img src="static/github.png">
            </a>
            <a href="https://linkedin.com/in/felixonduru" target="_blank">
                <img src="static/linkedin.png">
            </a>
            <a href="https://twitter.com/TheOnduru" target="_blank">
                <img src="static/twitter.png">
            </a>
        </div>
    </div>
</body>
</html>